SENG202-Team-5/src/main/resources/schema/metadata.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">

    <xs:element name="database" type="database"/>

    <xs:complexType name="database">
        <xs:sequence>
            <xs:element name="saveFileLocation" type="xs:string" minOccurs="0"/>
            <xs:element name="autosaveEnabled" type="xs:boolean"/>
            <xs:element name="autoloadEnabled" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

